:root{
   --display: block;
}
body{ margin:0; }

body>header{
     margin-bottom: 20px;
}

#list{
   display:grid;
   grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
   gap:10px;
}

#list{
   grid-column:1/2;
   grid-row:2/3;
}

#save{
   position:relative;
}
#view{
   height: 100vh;
  display: grid;
  place-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: rgba(0,0,0,.8);
}

btn-carrito.ocultar,
#view.ocultar,
#save.ocultar,
#list.ocultar{ 
   --display:none;
   display:var(--display); }

#view.mostrar,
#save.mostrar,
#list.mostrar{ 
   --display:none;
display:var(--display); }

.carritoTotal {
   text-align:right;
   font-size:1.1rem;
  margin:0;
}

#save{
   position:relative;

}

#cerarVentana{
   border:none;
   position: absolute;
   font-size:1.3rem;
   right:30px;
   top:-70px;
   width:45px;
   height:40px;
  border-radius: 6px;
   background: brown;
  color:white;
}

#canvaSaveItems{
   display:grid;
   gap:30px;
   margin-top:40px;
   grid-column:1/-1;
}

calc-total{
   grid-row:2/3;
   grid-column:1/-1;
}
#save div{
   display:grid;
   grid-template-columns:1fr 1fr;
   gap:10px;
}

.fa-trash{
   font-size: 1.5rem;
}

#seguirComprando{
   background: darkseagreen;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color:aliceblue;
}
